.layout {
  padding-left: 1rem;
  padding-right: 1rem;
}

.contactTitle {
  font-weight: 300;
  font-size: 40px;
}

.contactBody {
  padding: 20px;
}

.contactSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}

.contactEmail {
  padding-right: 20px;
}

.contactBodyLink:hover {
  color: blue;
  text-decoration: underline;
  transition: 0.5s;
}
