.layout {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  color: black;
}

.navigation {
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  background-color: white;
}

.body {
  width: 75vw;
  padding-left: 1rem;
  /* height: 100vh; */
  background-color: whitesmoke;
  padding-top: 100px;
  overflow: scroll;
  margin: 0px;
  padding-bottom: 1rem;
}

/* Tablet and Smaller Desktop */
@media (max-width: 1120px) {
  .layout {
    display: flex;
    flex-direction: column;
  }

  .navigation {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 0px;
    background-color: white;
  }
  .body {
    height: 95%;
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    overflow: scroll;
  }
  .navigationTitle {
    position: absolute;
    visibility: hidden;
  }
}

.navigationTitle:hover {
  cursor: default;
}

.bodySection {
  background-color: blue;
  height: 100%;
  width: 100%;
}

.navigation a {
  color: black;
  padding: 10px;
  transition: 0.5s;
}

.navigation h3 {
  font-weight: 400;
  font-size: 1.5rem;
  padding-bottom: 15px;
}
